@page "/AddReview/{productId:int}"
<h4>Add a review</h4>

<EditForm Model="_model" OnSubmit="@FormSubmitted">
    <div class="row mb-2 form-group">
        <div class="col-2">
            <label>Title:</label>
        </div>
        <div class="col-9">
            <InputText class="form-control" @bind-Value="_model.Title"/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label>Review:</label>
        </div>
        <div class="col-9">
            <InputText class="form-control" @bind-Value="_model.Review"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    [Parameter]
    public int ProductId { get; set; }

    ProductReviewModelInput _model = new();

    [Inject] ICarvedRockClient Client { get; set; }
    [Inject] NavigationManager Nav { get; set; }
    
    async Task FormSubmitted()
    {
        var result = await Client.AddReview.ExecuteAsync(new ProductReviewModelInput
        {
            ProductId = ProductId, 
            Title = _model.Title, 
            Review = _model.Review
        });
        Nav.NavigateTo($"/ProductDetail/{ProductId}");
    }
}